<?xml version="1.0"?>
<configuration>
  <location path ="Attachments.aspx">
    <system.web>
      <authorization>
        <allow roles="addUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path ="Machine.aspx">
    <system.web>
      <authorization>
        <allow roles="addUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path ="Projets.aspx">
    <system.web>
      <authorization>
        <allow roles="addUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>
