<?xml version="1.0"?>
<configuration>
  <location path ="RoleManager.aspx">
    <system.web>
      <authorization>
        <allow roles="manageRole"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path ="UserManager.aspx">
    <system.web>
      <authorization>
        <allow roles="manageUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path ="AddUser.aspx">
    <system.web>
      <authorization>
        <allow roles="addUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>
